alias tree="eza --icons=auto --tree -I node_modules"
alias ls="eza --icons=auto"
alias ll="eza --icons=auto -l"
alias la="eza --icons=auto -la"
alias grep="grep --color"
alias fd="fdfind"
alias cat="batcat"
alias diff="icdiff"
alias ..="cd .."
alias ...="cd ../.."
take() { mkdir -p "$1" && cd "$1"; }
tail() { command tail "$@" | ccze -A; }
